<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Default" status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%highlight{%date{ISO8601} %level [%thread] %logger{1.} - %message}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger level="warn" name="net.schmizz" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger level="warn" name="com.hierynomus.sshj" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
